<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <app-timer-imput-form></app-timer-imput-form>
            <div class="d-flex justify-content-center p-3 flex-column">
                <div class="d-flex justify-content-center">
                    <mat-hint *ngIf="timerservice.extraPause" [ngStyle]="{'color': '#880808'}">
                        {{ timerservice.pausehinweis }}
                    </mat-hint>
                </div>
                <div class="d-flex justify-content-center p-3 my-2 mx-2">
                    <button (click)="timerservice.calculateTotal()"
                            color="primary"
                            mat-raised-button>
                        calculate
                    </button>
                </div>
                <app-timer-progress-view [feierabendDateString]="timerservice.feierabendDateString"
                                        [progressSpinnerColor]="timerservice.progressSpinnerColor"
                                        [progressSpinnerMode]="timerservice.progressSpinnerMode"
                                        [progressSpinnerValue]="timerservice.progressSpinnerValue"
                                        [remaining]="timerservice.remaining"></app-timer-progress-view>
            </div>
        </div>
    </div>
</div>
