<div class="counter-container">
    <div class="score-display">
        <div class="player-score">
            <div class="score">{{ player1Score }}</div>
            <button mat-fab color="primary" class="score-button" (play)="incrementPlayer1ScoreWithPlay()"
                    (click)="incrementPlayer1Score()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="score-divider">:</div>
        <div class="player-score">
            <div class="score">{{ player2Score }}</div>
            <button mat-fab color="accent" class="score-button" (pause)="incrementPlayer2ScoreWithPause()"
                    (click)="incrementPlayer2Score()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="controls">
        <button mat-raised-button color="warn" class="reset-button" (click)="resetScores()">
            <mat-icon>refresh</mat-icon>
            Reset Game
        </button>
    </div>
    <!-- Hidden audio element to enable MediaSession API -->
    <audio #dummyAudio src="data:audio/wav;base64,UklGRigAAABXQVZFZm10IBIAAAABAAEARKwAAIhYAQACABAAAABkYXRhAgAAAAEA" loop
           style="display: none;"></audio>
</div>
